body {
    background-color: lightsalmon;
}
.main {
    width: 70%; /*ширина*/
    height: 400px; /*высота*/
    margin: 0px auto; /*внешний отступ*/
    display: flex; /*режим flex для детей div class=main*/
    flex-direction: row; /*дети main идут слева направо*/

}
.left {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center; /*по горизонтали*/
    align-items: center; /*по вертикали*/
}
.right {
    width: 150px; /*сумма с left не более 100%*/
    height: 500px;
}
.left>img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 1000px; /*закругление*/
}